/*? Universal Style */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    overflow: hidden;
	position: fixed;
	width: 100%;
	height: 100%;
    background-color: rgb(8, 8, 8);
    font-family: 'Inter', 'Segoe UI', system-ui, Roboto;
}

body::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(rgba(0, 255, 255, 0.1) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255, 0, 255, 0.1) 1px, transparent 1px);
	background-size: 50px 50px;
	z-index: -1;
}

h1, h2, h3 {
    color: #687894;
} 

iframe {
    max-width: 100%;
    width: 960px;
    height: 600px;
}

/*? Header Styles */
.headerParent { 
    align-content: center;
    align-items: center;
    align-self: center;
    backdrop-filter: blur(10px);
    width: 100%;

    background-color: rgba(0, 0, 0, 0.767);
    box-shadow: 0 20px 40px -12px black;
    border-radius: 0.2rem;
}
.headerChild {
    padding: 15px;
    display: flex;
    justify-content:flex-start;
}
.headerTable {
    margin: 15px;
    width: 80%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0);
    align-self: center;
    align-content: center;
}
.headerButton {
    padding: 10px;
    border-radius: 0.2rem;
    background-color: rgba(34, 148, 40, 0.637);
    align-self: center;
    align-content: center;
}
.headerButton:hover {
    border-radius: 0rem;
    background-color: rgba(21, 255, 0, 0.63);
    scale: 105%;
}

/*? Body Styles */
.bodyContainer { 
    align-self: center;
    align-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    min-height: 700px;
    background-color: rgba(39, 179, 62, 0.014);
    box-shadow: 0 20px 40px -12px black;
    border-radius: 0.2rem;
}


/*? EFFECTS */
.vhs-static {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: repeating-linear-gradient(
		90deg,
		transparent,
		transparent 2px,
		rgba(255, 255, 255, 0.01) 2px,
		rgba(255, 255, 255, 0.01) 4px
	);
	opacity: 0.3;
	animation: vhsStatic 0.2s steps(2, end) infinite;
	pointer-events: none;
}

@keyframes vhsStatic {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(4px);
	}
}